In [2]:
#Importing the Libraries...
import numpy as np
import pandas as pd

In [7]:
#Taking the DataSet...
credits=pd.read_csv("tmdb_5000_credits.csv")
movies=pd.read_csv("tmdb_5000_movies.csv")

In [10]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [11]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [19]:
#Now will Start Data Processing
#Since we have two DataSet, We will Merge it both to make it single Dataset for our Convinence.
Movies=movies.merge(credits,on="title")

In [20]:
movies.shape

(4803, 20)

In [21]:
credits.shape

(4803, 4)

In [22]:
Movies.shape

(4809, 23)

In [25]:
Movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [28]:
#Now we will remove those Features From our Dataset that is not useful for our Model.
#We will Keep the Features By asking a question to ourself, Will this be helpful in making Tags.
#Columns to keep
#Generes #Id #Keywords #title #Overview #Cast #Crew
Movies=Movies[['movie_id','genres','keywords','overview','title','cast','crew']]

In [29]:
Movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   genres    4809 non-null   object
 2   keywords  4809 non-null   object
 3   overview  4806 non-null   object
 4   title     4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [30]:
Movies.head()

,movie_id,genres,keywords,overview,title,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [32]:
#to check for null rows
Movies.isnull().sum()

movie_id    0
genres      0
keywords    0
overview    3
title       0
cast        0
crew        0
dtype: int64

In [33]:
Movies.dropna(inplace=True)

C:\Users\Yashraj Sharma\AppData\Local\Temp\ipykernel_11172\478220017.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Movies.dropna(inplace=True)

In [34]:
Movies.isnull().sum()

movie_id    0
genres      0
keywords    0
overview    0
title       0
cast        0
crew        0
dtype: int64

In [36]:
# To check for Duplicate Data
Movies.duplicated().sum()

np.int64(0)

In [39]:
#now we will Correct the genre Feature.
Movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [40]:
#['Action','Adventure','Fantasy','Science Fiction'] We want in this format
#first When we get this data Indices are string...using ast we can convert it into a list, now we can run the loop:
import ast
def Con(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [42]:
Movies['genres']=Movies['genres'].apply(Con)

C:\Users\Yashraj Sharma\AppData\Local\Temp\ipykernel_11172\1517559290.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Movies['genres']=Movies['genres'].apply(Con)

In [43]:
Movies.head()

,movie_id,genres,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [45]:
#Now we will do the Same thing for keyword column..
Movies.iloc[0].keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [47]:
#same Function:
Movies['keywords']=Movies['keywords'].apply(Con)

C:\Users\Yashraj Sharma\AppData\Local\Temp\ipykernel_11172\1301444280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Movies['keywords']=Movies['keywords'].apply(Con)

In [48]:
Movies.head(1)

,movie_id,genres,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [49]:
#Now we will do processing for Cast and Crew
import ast
def ConCC(obj):
    l=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=3:
            l.append(i['name'])
            counter=counter+1
        else:
            break
    return l

In [51]:
Movies['cast']=Movies['cast'].apply(ConCC)

C:\Users\Yashraj Sharma\AppData\Local\Temp\ipykernel_11172\1690349180.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Movies['cast']=Movies['cast'].apply(ConCC)

In [52]:
Movies.head(1)

,movie_id,genres,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [53]:
import ast
def ConDirec(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            l.append(i['name'])
            break
    return l

In [55]:
Movies['crew']=Movies['crew'].apply(ConDirec)

C:\Users\Yashraj Sharma\AppData\Local\Temp\ipykernel_11172\2574537078.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Movies['crew']=Movies['crew'].apply(ConDirec)

In [56]:
Movies.head(1)

,movie_id,genres,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [57]:
Movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [59]:
# we will convert this into list and ConCatenate Other Feartures with it to make it A TAG:
Movies['overview']=Movies['overview'].apply(lambda x:x.split())

C:\Users\Yashraj Sharma\AppData\Local\Temp\ipykernel_11172\1037042251.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Movies['overview']=Movies['overview'].apply(lambda x:x.split())

In [61]:
Movies.head(1)

,movie_id,genres,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [62]:
#now We have to tranform the Column and Remove Space in Between it So that Our Model Consider it as one Entity...

In [65]:
Movies['genres']=Movies['genres'].apply(lambda x :[i.replace(" ","")for i in x])

C:\Users\Yashraj Sharma\AppData\Local\Temp\ipykernel_11172\2455491758.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Movies['genres']=Movies['genres'].apply(lambda x :[i.replace(" ","")for i in x])

In [66]:
Movies.head(1)

,movie_id,genres,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [68]:
Movies['keywords']=Movies['keywords'].apply(lambda x :[i.replace(" ","")for i in x])
Movies['cast']=Movies['cast'].apply(lambda x :[i.replace(" ","")for i in x])
Movies['crew']=Movies['crew'].apply(lambda x :[i.replace(" ","")for i in x])

C:\Users\Yashraj Sharma\AppData\Local\Temp\ipykernel_11172\580854589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Movies['keywords']=Movies['keywords'].apply(lambda x :[i.replace(" ","")for i in x])
C:\Users\Yashraj Sharma\AppData\Local\Temp\ipykernel_11172\580854589.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Movies['cast']=Movies['cast'].apply(lambda x :[i.replace(" ","")for i in x])
C:\Users\Yashraj Sharma\AppData\Local\Temp\ipykernel_11172\580854589.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Movies['crew']=Movies['crew'].apply(lambda x :[i.replace(" ","")for i in x])

In [70]:
Movies.head(1)

,movie_id,genres,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [71]:
#now The last step of Data Processing where we are concatinating the features to make it as a single tag Fearture...
Movies['Tags']=Movies['overview']+Movies['genres']+Movies['keywords']+Movies['cast']+Movies['crew']

C:\Users\Yashraj Sharma\AppData\Local\Temp\ipykernel_11172\691490992.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Movies['Tags']=Movies['overview']+Movies['genres']+Movies['keywords']+Movies['cast']+Movies['crew']

In [72]:
Movies.head(1)

,movie_id,genres,keywords,overview,title,cast,crew,Tags
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [75]:
New_Movies_Data=Movies[['movie_id','title','Tags']]

In [77]:
New_Movies_Data.head(1)

   movie_id   title                                               Tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [80]:
#now we will convert the list og tags into string in order to better optimization..
New_Movies_Data['Tags']=New_Movies_Data['Tags'].apply(lambda x:" ".join(x) )

C:\Users\Yashraj Sharma\AppData\Local\Temp\ipykernel_11172\459929879.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_Movies_Data['Tags']=New_Movies_Data['Tags'].apply(lambda x:" ".join(x) )

In [81]:
New_Movies_Data.head(1)

   movie_id   title                                               Tags
0     19995  Avatar  In the 22nd century, a paraplegic Marine is di...

In [82]:
New_Movies_Data['Tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [84]:
#converting Tag data to lowerCase:
New_Movies_Data['Tags']=New_Movies_Data['Tags'].apply(lambda x:x.lower())

C:\Users\Yashraj Sharma\AppData\Local\Temp\ipykernel_11172\2122364806.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_Movies_Data['Tags']=New_Movies_Data['Tags'].apply(lambda x:x.lower())

In [85]:
New_Movies_Data.head(1)

   movie_id   title                                               Tags
0     19995  Avatar  in the 22nd century, a paraplegic marine is di...

In [100]:
!pip install nltk
!pip install --upgrade pip 
from nltk.stem import PorterStemmer
ps=PorterStemmer()

Collecting nltk
  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: click in c:\users\yashraj sharma\appdata\roaming\python\python312\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\yashraj sharma\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2024.11.6-cp312-cp312-win_amd64.whl.metadata (41 kB)
Requirement already satisfied: tqdm in c:\users\yashraj sharma\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\yashraj sharma\appdata\roaming\python\python312\site-packages (from click->nltk) (0.4.6)
Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ------ --------------------------------- 0.3/1.5 MB ? eta -:--:--
   ------ --------------------------------- 0.3/1.5 MB ? eta -:--:--
   ------ --------------------------------- 0.3/1.5 MB ? eta -:--:--
   ------ --------------------------------- 0.3/1.5 MB ? eta -:--:--
   ------ --------------------------------- 0.3/1.5 MB ? eta -:--:--
   ------------- -------------------------- 0.5/1.5 MB 254.3 kB/s eta 0:00:04
   ------------- -------------------------- 0.5/1.5 MB 254.3 kB/s eta 0:00:04
   ------------- -------------------------- 0.5/1.5 MB 254.3 kB/s eta 0:00:04
   -------------------- ------------------- 0.8/1.5 MB 316.6 kB/s eta 0:00:03
   -------------------- ------------------- 0.8/1.5 MB 316.6 kB/s eta 0:00:03
   -------------------- ------------------- 0.8/1.5 MB 316.6 kB/s eta 0:00:03
   --------------------------- ------------ 1.0/1.5 MB 322.7 kB/s eta 0:00:02
   --------------------------- ------------ 1.0/1.5 MB 322.7 kB/s eta 0:00:02
   --------------------------- ------------ 1.0/1.5 MB 322.7 kB/s eta 0:00:02
   --------------------------- ------------ 1.0/1.5 MB 322.7 kB/s eta 0:00:02
   --------------------------- ------------ 1.0/1.5 MB 322.7 kB/s eta 0:00:02
   --------------------------- ------------ 1.0/1.5 MB 322.7 kB/s eta 0:00:02
   ---------------------------------- ----- 1.3/1.5 MB 279.6 kB/s eta 0:00:01
   ---------------------------------- ----- 1.3/1.5 MB 279.6 kB/s eta 0:00:01
   ---------------------------------- ----- 1.3/1.5 MB 279.6 kB/s eta 0:00:01
   ---------------------------------- ----- 1.3/1.5 MB 279.6 kB/s eta 0:00:01
   ---------------------------------- ----- 1.3/1.5 MB 279.6 kB/s eta 0:00:01
   ---------------------------------- ----- 1.3/1.5 MB 279.6 kB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 255.0 kB/s eta 0:00:00
Downloading regex-2024.11.6-cp312-cp312-win_amd64.whl (273 kB)
Installing collected packages: regex, nltk
Successfully installed nltk-3.9.1 regex-2024.11.6

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: To modify pip, please run the following command:
C:\Users\Yashraj Sharma\AppData\Local\Programs\Python\Python312\python.exe -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\yashraj sharma\appdata\local\programs\python\python312\lib\site-packages (24.2)
Collecting pip
  Using cached pip-25.0.1-py3-none-any.whl.metadata (3.7 kB)
Using cached pip-25.0.1-py3-none-any.whl (1.8 MB)

In [105]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [123]:
New_Movies_Data['Tags']=New_Movies_Data['Tags'].apply(stem)

C:\Users\Yashraj Sharma\AppData\Local\Temp\ipykernel_11172\3349297477.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_Movies_Data['Tags']=New_Movies_Data['Tags'].apply(stem)

In [124]:
#to find out similarity between two movies, we need to find out similarity between tags of two movies...
# we will choose vectorization technique...closest vector
# Vectorisation
#Step 1: Concatenate tags of all the movies as a single string..
#step 2: For example from this long string we will take most common two word(Action,Fantasy)
#Step 3: Now for each Movie we will find out how many times these two word occured in its tag..
#step 4: we will resize a graph with (5000,2)
#this graph shows us vectorization of movie... used TextVectorization...BagOfWords Technique...
!pip install scikit-learn
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

Requirement already satisfied: scikit-learn in c:\users\yashraj sharma\appdata\local\programs\python\python312\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\yashraj sharma\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.2.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\yashraj sharma\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\yashraj sharma\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\yashraj sharma\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [125]:
vectors=cv.fit_transform(New_Movies_Data['Tags']).toarray()

In [126]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(4806, 5000))

In [127]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], shape=(5000,))

In [128]:
#till now we have created vector for each movie...
#now we want to look which most 5000 common word CountVectorizer has choosen...
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      shape=(5000,), dtype=object)

In [129]:
#now we apply steming:
#['loved','loves','loving']
#['love','love','love']
ps.stem("loved")

'love'

In [130]:
ps.stem("loving")

'love'

In [131]:
New_Movies_Data['Tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [132]:
New_Movies_Data.head()

,movie_id,title,Tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [133]:
#now we need to calculate distance of each movie with other Movie...
#we will calculate the cosine distance means angle between the vectors if the angle is 0 means its actually the same movie
#less angle means similar movie and more angle means differnet movie....
#distance is inversely proportional to similarity...

from sklearn.metrics.pairwise import cosine_similarity

In [138]:
similarity_angle=cosine_similarity(vectors)

In [146]:
similarity_angle[0] 
#this show distance(angle) of first movie with rest of each 4805 movies...

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ], shape=(4806,))

In [153]:
#to find out index--
#New_Movies_Data[New_Movies_data['title']=='Batman Begins'].index[0]
#overall flow-
#step 1:user will provide movie.
#step 2:our main function will search for that movie through movie_id
#step 3:After taking that movie_id,it will calculate distance(angle)of user movie with all the ither movie...
#step 4:we will get array of array with the distance,sort the array and return the top 5 movie..#ne have to retain indexes
#those movie will be our recommendation for user movie...
def recommend(movie):
    # Check if the movie exists in the dataset
    if movie not in New_Movies_Data['title'].values:
        print(f"Movie '{movie}' not found in database.")
        return []
    
    # Get the index of the provided movie
    movie_index = New_Movies_Data[New_Movies_Data['title'] == movie].index[0]
    
    # Get similarity scores for the movie
    distances = similarity_angle[movie_index]

    # Sort movies based on similarity scores while keeping their indexes
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]

    # Retrieve movie titles from the indexes
    recommended_movies = [New_Movies_Data.iloc[i[0]]['title'] for i in movies_list]

    return recommended_movies

In [154]:
print(recommend("Avatar"))

['Aliens vs Predator: Requiem', 'Aliens', 'Falcon Rising', 'Independence Day', 'Titan A.E.']